* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #87c3c3, #d2e9e9);
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2d9696;
}

.header h1 {
    font-size: 1.5rem;
}

.header nav a {
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile a {
    color: #333;
    margin-right: 0.5rem;
}

.content {
    display: flex;
}

.filters {
    width: 20%;
    background-color: #d8f0ff;
    padding: 1rem;
}

.filters h3 {
    margin-bottom: 1rem;
    color: #d8f0ff;
}

.filter-group {
    margin-bottom: 1rem;
}

.filter-group h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.search-results {
    width: 80%;
    padding: 1rem;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flights {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flight-card {
    background-color: #e8f7ff;
    padding: 1rem;
    width: calc(33.333% - 1rem);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.flight-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.filters {
    width: 20%;
    background-color: #008080;
    padding: 1rem;
}

.filter-group {
    margin-bottom: 1rem;
    color: #d8f0ff;
}

.filter-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: #d8f0ff;
}

.filter-options {
    display: none; /* Oculta inicialmente el contenido */
    margin-top: 0.5rem;
}

.filter-group.active .filter-options {
    display: block; /* Muestra el contenido al hacer clic */
}
